/* import Lato font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile first breakpoint 320px */

html,
body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  min-width: 320px;
}

body {
  background: url('https://source.unsplash.com/iI1SSTbW218') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}