.NewTodoForm {
    height: 45px;
    width: 300px;
    margin: 10px auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: stretch ;
    background-color: rgba(112,112,112,0.9);
}

form > * {
    height: 35px;
}

.NewTodoForm-Label {
    font-size: 30px;
    line-height: 30px;
    width: 30px;
    color: white;
    text-align: center;
}

.NewTodoForm-Input {
    width: 220px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 14px;
    line-height: 14px;
    padding-left: 10px;
}
.NewTodoForm-Input:focus {
    outline: none;
}

.NewTodoForm-Input::placeholder {
    font-size: 16px;
    line-height: 16px;
    color: white;
    border: none;
}

.NewTodoForm-Button {
    border: none;
    background-color: transparent;
    color: white;
    width: 30px;
    font-size: 18px;
    line-height: 20px;
}

.NewTodoForm-Button:focus {
    outline: none;
}

.submit-button:hover {
    cursor: pointer;
    opacity: 0.5;
}