.Todo {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 5px auto;
    align-items: center;
    border-radius: 5px;
    width: 300px;
}

.Todo-Check {
    width: 10%;
    text-align: center;
}
.Todo-Text {
    width: 70%;
    padding: 0px 5px;
    text-decoration: none;
    overflow: scroll;
}

/* Hide scrollbar for Chrome, Safar and Opera */
.Todo-Text {
    -ms-overflow-style: none;
  }

  /* Hide scrollbar for IE and Edge */

.Todo-Text::-webkit-scrollbar {
    display: none;
  }


.complete {
    text-decoration: line-through;
}

.Todo-Buttons {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}

.Todo-Buttons {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}

.edit-button:hover {
    color: #428bca;
    cursor: pointer;
}

.delete-button:hover {
    color: 	#d9534f;
    cursor: pointer;
}

.Todo-Check:hover {
    opacity: 0.5;
    cursor: pointer;
}